<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thelabit">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheLabIT">
        <activity android:name=".ViewPlanesDetalleUpdate"></activity>
        <activity android:name=".ViewListadoActividades" />
        <activity android:name=".vista.corredor.ViewListarEntrenadores" />
        <activity android:name=".vista.corredor.ViewContactarEntrenador" />
        <activity android:name=".vista.corredor.ViewEditarPerfilCorredor" />
        <activity android:name=".vista.corredor.ViewIniciarActividad" />
        <activity android:name=".vista.corredor.CorredorPlanTotal" />
        <activity android:name=".vista.corredor.ViewDetalleActividadPend" />
        <activity android:name=".EjemploLocation" />
        <activity android:name=".EjemploChart" />
        <activity android:name=".vista.ViewDetalleActividad2" />
        <activity android:name=".vista.ViewCorredorEntrenador" />
        <activity android:name=".vista.entrenador.ViewNuevoPlan" />
        <activity android:name=".vista.entrenador.ViewPlanesDetalle" />
        <activity android:name=".vista.entrenador.ViewPlanes" />
        <activity android:name=".vista.entrenador.HomePlanes" />
        <activity android:name=".vista.ViewDetalleActividad" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_api_key" />

        <activity android:name=".vista.RegistrarUsuario" />
        <activity android:name=".vista.FormSignUp" />
        <activity android:name=".vista.entrenador.HomeEntrenador" />
        <activity android:name=".vista.corredor.HomeCorredor" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>